body, html {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.nav-link:hover {
  color: rgb(6, 98, 184);
}

.topnav {
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.profile {
  display: block;
  padding: 40px 5%;
  height: 100vh;
}

img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}