body, html {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgba(172, 177, 182, 0.534)
}

.navbar {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 100px;
}

.nav-link:hover {
  color: rgb(6, 98, 184);
}

.topnav {
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.profile {
  /* display: block; */
  padding: 5%;
  height: 90vh;
}

.mapboxgl-canvas {
  border-radius: 10px 100px 10px 10px;
}

.location {
  margin: 15px;
}

img {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}